/upa-api/target/
/upa-impl/target/
/upa-web/target/
/upa-portable/target/
/upa-test/target/
/upa-tutorial/upa-tutorial-dal/target/
/upa-tutorial/upa-tutorial-business/target/
/upa-tutorial/upa-tutorial-desktop/target/
/upa-tutorial/upa-tutorial-webjsf/target/
/upa-vfs/target/
/upa-impl-core/target/
/upa-android/target/
/runtime/
/upa-spring/target/
upa-xml-config/target/
upa-box/target/
